# Jupyter
.ipynb_checkpoints

# Data
*.npy
*.hdf5
*.pdf
*.ckpt*

# Python cache
*.py[cod]
__pycache__

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Pycharm
.idea
